body {
  font-family: 'Roboto Mono',monospace;
  text-align:center;
  background-image: url('https://winteriscoming.net/files/2019/04/975503.jpg');
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
  font-size: 45px;
  text-decoration: underline;
  text-decoration-color: red;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 150px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right:10px;
}

body > img {
  margin: 0 10px;
}


.favorite-film {
  font-size: 23px;
  color: white;
  text-decoration: none;
}

.btn-small {
  
   border: 0;
    color: #ffffff;
    background: #DA1E26;
    font-weight:bold;
    padding: 15px 20px;
    font-size: 16px;
    borde-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    transition: .3s;
  text-decoration: none;
}